body {
  

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: #556e77;

}

p {
  font-family: 'PT Sans', sans-serif;
  padding-bottom: 15px;
  
}

ul, li {
  margin-top: 20px;
  font-size: 18px;
  display: inline-block;
  margin-right: 20px;
  color: #eaeaea;
}

form {
  margin-bottom: 25px;
  font-family: 'PT Sans', sans-serif;

}

i {
  margin-right: 25px;
}

/*.carousel-img {
  max-height: 100px;
}

.carousel-inner {
  margin-top: -25px;
  margin-bottom: 10px;
}

.carousel-member {
  margin-top: -5px;
}*/

/*.jumbotron {
  max-height: 450px;*/

}

.intro {
  margin-top: -15px;
}

.img-hover {
  position: relative;
  
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0, 0.7);

}

.navbar {
  background-color: ;
}

.navbar-text > a {
  color: inherit;
  text-decoration: none;
}

.navbar-brand {

  position: absolute;
  float: left;
  font-size: 36px;
  margin-top: 10px;
  
}


.thumbnail img:hover {
  transform: scale(1.1);

}

.thumbnail img {
  transition: all 0.3s ease 0s;
  width: 100%;
}

.gallery-one .thumbnail img:hover {
  transform: scale(1.1);
}

.gallery-one .thumbnail img {
  width: 166px;
  height: 124px;
  transition: all 0.3s ease 0s;
  

}

.thumbnail {
  overflow: hidden;
}

.thumbnail > p {
  padding-bottom: 50px;

}

.gallery-one {
  padding-top: 15px;
}

.button-default {
  color: white;
  width:100px;
}


#action-one-button {
  margin-top: 25px;
  margin-left: 150px;


}

#hangout-btn {
  margin-top: 15px;
}

#register {
  width: 40%;
  border-radius: 25px;
}

#feature {
  margin-top: 10px;
}

#background-two {
  height: 550px;
  background-color: ;
}

#main-title {
  position: absolute;
  left: 35px;
}

#age-box {
  font-size: 16px;
}

#sign-today {
  margin-top: -27px;
  color: #556e77;
  font-size: 48px;
}
#local {
  font-size: 28px;
}

#jimbo {
  font-size: 24px;
}

#testimonial {
  font-size: 18px;
}

#blank-carousel {
  height: 30px;
}


#nav-brand {
  color: #81d4f4;
}

#profile-panel {
  position: fixed;
  width: 250px;
  height: 410px;
}

#footer-note {
  color: #81d4f4;
}

.bg-blue {
  background-color: #81d4f4;
}

.bg-light {
  background-color: #d9f4ff;
}

#background-pet {
  /*background-image: url("../image/pet-image/pet-fourteen.jpg");
  height: 350px;*/
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
}





/* Color for CSS

Light Grey: #eaeaea;
Clear light blue: #d9f4ff;
Sky blue: #a3e6ff;
Light Blue: #81d4f4;
Grey Blue: #92b3bf;
Dark Grey Blue: #556e77;

*/




