body {

}

h1 {
  font-size: 42px;
  color: #81d4f4;
}

li {
  
  font-size: 18px;
  display: inline-block;
  margin-right: 20px;
  color: #eaeaea;
}

form {
  margin-bottom: 25px;
}

.background-one {
  background-color: #556e77;
}

.pet-name {
  margin-top: 0px;
}

.email {
  margin-top: 70px;
}

.mobile {
  margin-top: 70px;
}

.password {
  margin-top: 70px;
}

.password-two {
  margin-top: 70px;
}



#background-two {
  height: 550px;
  background-color: ;
}

#sign-background {
  background-image: url("image/sign-up.png");
  height: 350px;
}

.img-hover {
  position: relative;
}
.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0, 0.7);
}

#nav-list {
  
}

#action-one {
  color: white;
}

#action-two {
 
}

#action-three {

}









